{% extends "base.html" %}

{% block title %}Home | finTech{% endblock %}

{% block bodyCon %}
<h1>page 1 </h1>
<!--https://api.polygon.io/v1/meta/symbols/AAPL/company?&apiKey=fuckyou-->>
<form method="post" id="sheetdb-form" action="https://sheetdb.io/api/v1/58f61be4dda40">
    <label for="exampleFormControlInput1" class="form-label">Stock ticker</label>
    <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="GME...">
    <input type=submit value=search>
    <button type="submit">Submit</button>
</form>
{% endblock %}